.item {
  background-image:
    linear-gradient(to right, #00c758e6, #05df7280), url(/assets/home-slider-1.d79601a8.png);
  background-size: cover;
  background-position: center;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: rgba(255, 255, 255, 0.826);
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  width: 24px;
  height: 24px;
  background-color: white;
}

swiper-container::part(bullet) {
  background-color: rgba(255, 255, 255, 0.826);
  width: 16px;
  height: 16px;
  transition: all 1s;

}

swiper-container::part(bullet-active) {
  background-color: white;
  width: 40px;
  height: 16px;
  border-radius: 15px;
}