/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import 'ngx-toastr/toastr';


@utility container{
    margin-inline:auto
}

@theme{
     --color-primary: #16a34a;
  --color-secondary: #101828;
  --color-danger: #fb2c36;
}

body{
 font-family: "Exo", sans-serif;   
}